# -*- conf-unix -*-

# Ever since early systemd-udevd merge, we are forced to use some
# hack to be able to run long lived processes from udev (which is required for 
# some filesystems that will spawn some daemon, like ntfs-3g).
# 
# udev will kill the running process and all childs after 4-5 seconds, so the
# mounting has to be done as a separate "service"

# mount the device when added
# Physical SATA, SCSI, and USB
KERNEL=="sd[a-z]", ACTION=="add", SUBSYSTEM=="block", ATTRS{serial}=="60A44C4138D8BEA1297800E2", RUN+="/usr/bin/systemctl --no-block restart media-automount@%k.service"

# clean up after device removal
KERNEL=="sd[a-z]", ACTION=="remove", SUBSYSTEM=="block", ATTRS{serial}=="60A44C4138D8BEA1297800E2", RUN+="/usr/bin/systemctl --no-block restart media-automount@%k.service"

